body {
    font-family: "Times New Roman", serif;
    background-color: wheat;
    margin: 50px;
    padding: 40px;
}

#header1 {
    background-color: wheat;
    color: darkblue;
    text-align: center;
    padding: 0;
}

h1 {
    text-align: center;
    color: lightblue;
}

ul {
    list-style: none;
    padding: 15px;
    margin: 0;
}

.tieude {
    background-color: pink;
    padding: 10px;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    font-style: italic;
    font-weight: bold;
}

.baihoc {
    margin-left: 20px;
    padding: 5px;
    background-color: greenyellow;
    border: solid 1px black;
    border-radius: 3px;
    font-weight: normal;
    font-style: normal;
}
